.test{
  background-color: rgba(8, 103, 237, 0.502);
  border: 1px solid black;
  height: 50px;
}

.test2{
  background-color: rgba(11, 240, 11, 0.406);
  border: 1px solid black;
  height: 50px;
}

.test3{
  background-color: rgba(237, 149, 8, 0.502);
  border: 1px solid black;
  height: 50px;
}

header {
  background-color: #2C3E50;
}

/* jumbotron */
.fm-jumbotron {
  height: 400px;
  color: white;
  
}

.portfolio{
  margin-top: 50px;
}

/* section{
  margin-top: 200px;
}

section .about .container{
  height: 250px;
}

footer .footer-social{
  margin-top: 250px;
}

footer section .row,.col{
  height: 250px;
}

footer .footer-social{
  margin-top: 250px;
}

section .row .col-sm-10{
  margin-top: 50px;
}

section .row .col-md-4{
  margin-top: 50px;
} */