/* utilities */

.test{
  background-color: rgba(8, 103, 237, 0.502);
  border: 1px solid black;
  height: 50px;
}

.test2{
  background-color: rgba(11, 240, 11, 0.406);
  border: 1px solid black;
  height: 50px;
}

.test3{
  background-color: rgba(237, 149, 8, 0.502);
  border: 1px solid black;
  height: 50px;
}

.fm_container{
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #2C3E50;
}

/* jumbotron */
.fm-jumbotron {
  color: white;
  background-color: #31bc9c;
}

/* style img */
.fm-jumbotron img{
  width: 200px;
  margin-bottom: 15px;
}

/* style star and line in jumbotron */
.fm_color{
  color: white;
}

.fmbg_color{
  background-color: white;
}

.fm_width{
  margin: 0 5px;
  height: 5px;
  width: 150px;
  display: inline-block;
}

.fm_inline{
  display: inline-block;
}

.fmbg_colorb{
  background-color: rgb(58, 58, 58);
}

.fm_fontsize{
  font-size: 1rem;
}

.fm_height{
  height: 100%;
  width: 100%;
  cursor: pointer;
  font-size: 100px;
  display: none;
}

.fm_position_absolute{
  position: absolute;
  top: 0;
  left: 0;
}

.fm_display:hover .fm_height{
  display: block;
}

.about{
  background-color: #31bc9c;
  color: white;
}

/* Style form */
.fm-form input,
.fm-form textarea {
border: none;
border-radius: 0px;
border-bottom: 1px solid lightgrey;
}

.fm-form input::placeholder,
.fm-form textarea::placeholder {
  color: rgb(58, 58, 58);
}

.fm-form button {
  background-color: #31bc9c;
  border: none;
}
